body{
    background-color:#233A66;
}
/* HEADER */
#header{
    display:flex;
    font-size: 1rem;
    height: 4rem;
    background-color: #ffffff;
}
.account-existing{
    top: 2rem;
    margin:1rem;
    color:#ffffff;
    background: #233A66;
    text-align: center;
    text-decoration: none;
    border-radius: .5rem;
    width: 100px;
    padding:.5rem;
}
/* CONTENT */
#content{
    text-align: center;
    display:flex;
    flex-direction: column;
}
.logo{
    margin: 2rem;
}
.title-formulario{
    margin: 1rem;
    line-height: 30px;
    color: #ffffff;
}
/* FORMULÁRIO */

.form-input{
    display: flex;
    align-items:stretch;
    justify-content: stretch;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    margin:0 auto;
}
.name{
    flex-direction: row;
    width: 20%;
}
input{
  width: 40%;
  font-size: 1rem;
  font-weight:300;
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid ;
  outline: none;
  margin:1rem;
  flex-direction: row;
}
a{
    color: #000000;
}
.account-up{
    background-color:#ffffff;
    color:#000000;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 290px;
    line-height: 80px;
    padding: 12px 28px;
    border-radius: 5px;
    margin:0 auto;
}
footer{
    background-color: #ffffff;
    height: 100px;
    margin-top: 5rem;
}