
body{
  background: #233A66;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
}
.header{
  background-color: #ffffff;
  height: 4rem;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.sing{
  top: 2rem;
  margin:1rem;
  color:#ffffff;
  background: #233A66;
  text-align: center;
  text-decoration: none;
  border-radius: .5rem;
  width: 100px;
  padding:.5rem;
  font-size: .85rem;
}
.feature{
  text-align:center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  margin-bottom: .75rem;
}
.logo{
  margin-top: 2rem;
}
.form{
  width: 30%;
 
}
label{
  margin: 1rem;
  font-size:1.5rem;
  color: #ffffff;
}
input{
  width: 80%;
  font-size: 1rem;
  font-weight:300;
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid ;
  outline: none;
  margin:1rem;
}
span a{
  text-decoration: none;
  color: #f8f8f7;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 45%;
  margin-top: -15px;
}
.button a{
  margin-left:auto;
  margin-right: auto;
  margin-top: 2rem;
  color:#131111;
  background: #e7e7e7;
  text-align: center;
  text-decoration: none;
  border-radius: .5rem;
  width: 100px;
  padding:.75rem 1rem;
  font-size: .85rem;
  display: flex;
  align-items:center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
}
footer{
  background-color: white;
  height: 100px;
  margin-top: 5rem;
}