/* reset */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* topo */
header > #top
{
  background-color: white;
  margin-left: 290px ;
  line-height: 80px;
}

header > #top > a
{
  text-decoration: none;
  background-color: #233A66;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  padding: 12px 28px;
  border-radius: 3px;
}

/* main */

main
{
  background: #233A66;
  width: 100%;
  height: 900px;
  background-repeat: nor;
}

main > .box__logo #logo
{
  padding-top: 77px;
  text-align-last: center;
}

main > .box__logo .estrarConta
{
  color: white;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;

  text-align: center;
  margin-top: 45px;
  margin-bottom: 22px;
}

main > .box__logo .estrarConta h2
{
  font-weight: 100;
}

/* formulario */


main #formulario
{
  background: #F1F1F1;
  width: 540px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
}

main > #formulario > .form
{
  padding: 24px 48px;
  font-family: 'Roboto', sans-serif;
}

main > #formulario > .form > form > .infoText
{
  font-size: 22px;
}

main > #formulario > .form > form > .inputText,
main > #formulario > .form > form > .inputText2
{
  background-color: white;
  border: none;
  outline: none;
  width: 443px;
  height: 56px;
  border-radius: 5px;
}

main > #formulario > .form [placeholder]
{
  font-size: 18px;
  color: #505050;
  padding: 0 0 0 19px;
}

main > #formulario .form form .inputText
{  
  margin-bottom: 30px;
}

main > #formulario .form form .esqueceuSenha 
{
  text-align: end;
  font-size: 16px;
  margin-bottom: 45px;
}

main > #formulario .form form .esqueceuSenha a
{
  text-decoration: none;
  color: #251F6A;
}

main > #formulario .form form .btn__entrar
{
  background-color: #233A66;
  width: 161px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 45px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #000;
}

main > #formulario .form form .btn__entrar a
{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
}

main > #formulario .form form .cadastre-se
{
  text-align: center;
  font-size: 20px;
}

main > #formulario .form form .cadastre-se a
{
  color: #000;
}

